# ------------------------------ MySQL 配置 --------------------------------
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=your_mysql_password
MYSQL_DATABASE=your_mysql_database_name
MYSQL_POOL_SIZE=10
MYSQL_MAX_OVERFLOW=20
MYSQL_ECHO=True


# ------------------------------ Redis 配置 ---------------------------------
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_DB=0
REDIS_POOL_SIZE=10
REDIS_DEFAULT_TTL_SECONDS=86400
REDIS_RAG_TTL_SECONDS=21600
REDIS_RERANK_TTL_SECONDS=21600


# RAG / Chroma
CHROMA_DB_DIR=chroma_db
CONVERSION_ROUNDS_SIZE=10
RETRIEVER_TOP_K=5

#嵌入模型
EMBEDDING_MODEL=text-embedding-3-large
EMBEDDING_URL=https://api.openai-proxy.org/v1
EMBEDDING_KEY=your_openai_key
EMBEDDING_BATCH_SIZE=10

#重排序模型
#主包的rerank和llm都用的阿里的，url就用的相同的，下方的LLM_BASE_URL
RERANK_MODEL=qwen3-rerank
RERANK_TOP_N=3

# 大模型
LLM_PROVIDER=openai_compatible
LLM_API_KEY=your_sk
LLM_MODEL=qwen-plus-2025-07-28
LLM_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1
LLM_TIMEOUT_SECONDS=60
LLM_MAX_RETRIES=1

# ------------------------------ JWT 配置 ----------------------------------
JWT_SECRET_KEY=a8f3d2k9s7m1x4p6w0q9b5t2y8u3i6o1
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7




















